<h3>
    <ul>
        <li style="display: inline"><%= link_to 'Vista 1', formularios_ejercicio1_path %></li>
        <li style="display: inline"><%= link_to 'Vista 2', formularios_ejercicio2_path %></li>
    </ul>
</h3>
